

body{
    background-color:whitesmoke;
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}

/* ENTETE */
.tete{
    display: flex;                          /* Grand bloc blanc au top */    
    
    background-color:brown;
    padding: 1%;
    padding-left: 10%;
    
}

.img{
    max-width: 7%;                          /* Image logo */
    max-height: 7%;
}

.list_tete{
    display: flex;
    margin-left: 10%;
    min-width: 60%;
    justify-content: space-between;
    
}

.list_tete li{
    font-size: 120%;
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
}

a{  
    text-decoration: none;
    list-style-type:none;
    color: black;
}

a:hover{
    color:coral;
}

/* CORPS */
.corps{
    display: flex;
}

.grand{
    display: flex;
    margin-top: 3%;
}

/* ROND */ 

.rond{
    margin-top: 3%;
}
.list_rond{    
    display: flex;         /* --> list des 4 ronds */
    flex-direction: column;
    list-style-type:none;
    margin-top: 0;
    min-height: 50%;
    justify-content: space-between;
}

.list_rond a{
    display:block;                          /* --> list des 4 ronds --> les liens */ 
    text-decoration: none;
    color: black;
    
}

.list_rond a:hover{
    color: coral;
    cursor: pointer;
}

/* Nom du resto */
.grand h1{
    display: flex;
    margin-right: 1%;
}
/* IMAGE MILIEU*/
.image{
    margin-top: 3%;
}
#prog{
    display: flex;
    max-block-size: 50%;
    -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#prog:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* DESCRIPTION DU MAGASIN*/
.desc{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    
}

.list_resto{
    display: flex;  
    min-width: 150%;
    justify-content: space-between;
}

.list_resto li{
    list-style-type:none;
}

/* COMMENTAIRES */

.commentaires{
    display: flex;
    margin: 1%;
    justify-content: end;
    flex-direction: column;
    max-width: 30%;
    border-radius: 5%;
    background-color: white;
    padding: 15px;
}

.allCom{
    display: flex;
    justify-content: space-between;
}

.allCom a{
    font-size: 75%;
}