body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f6f6f6;*/
    background-color: black;
    font-size: 20px;

}
form{
   margin-top: 10px; 
   background-color: white;
   padding: 40px 60px;
   border-radius: 20px;
   min-width: 300px;
   margin-top: 100px;
}
form h1{
    text-align: center;
}
form .inputs{
    display: flex;
    flex-direction: column;
}

form .inputs input[type="text"],input[type="password"],input[type="email"]{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:#f3f3f3;
    margin-bottom: 10px;
}
form button{
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: black;
    color: white;
}
form p.création_compte{
    text-align: center;
    margin-bottom: 10px;
}
form #error_message{
    text-align: center;
}
